A K M Mahmudul Hoque <akmhoque@gmail.com>
<aa@cs.fiu.edu> <alexander.afanasyev@ucla.edu>
<agawande@memphis.edu> <ashu2493@gmail.com>
Alexander Lane <awlane@memphis.edu>
<davidepesa@gmail.com> <davide.pesavento@lip6.fr>
<enewberry@email.arizona.edu> <enewberry@cs.arizona.edu>
Laqin Fan <lfan1@memphis.edu>
Md Ashiqur Rahman <marahman@email.arizona.edu>
Muktadir R Chowdhury <mrchwdhr@memphis.edu>
Muktadir R Chowdhury <mrchwdhr@memphis.edu> <muktadir.rahman.c@gmail.com>
Nick Gordon <nmgordon@memphis.edu>
Saurab Dulal <sdulal@memphis.edu>
Syed Obaid Amin <soamin@memphis.edu>
Syed Obaid Amin <soamin@memphis.edu> <obaidasyed@gmail.com>
Syed Obaid Amin <soamin@memphis.edu> <obaid@Obaids-MacBook.local>
Syed Obaid Amin <soamin@memphis.edu> <obaid@obaids-macbook.memphis.edu>
Syed Obaid Amin <soamin@memphis.edu> <soamin@mira.cs.memphis.edu>
Syed Obaid Amin <soamin@memphis.edu> <soamin@wd222yx4.memphis.edu>
